# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Ignore all CSV and TXT files globally
*.csv
*.txt

# But do NOT ignore csv and txt files inside these folders
!data/
!data/**/*.csv
!data/**/*.txt
!output/
!output/**/*.csv
!output/**/*.txt

# Virtual environments
venv/
.env/

# VSCode settings (if you use it)
.vscode/

# Mac and Windows file system cruft
.DS_Store
Thumbs.db